.featureContainer{
    position: relative;
    height: 20vh;
}

.featureWrapper{
    background: gainsboro;
    width: 60%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 20;
    border-radius: .3rem;
    top: -40px;
   
}

.featureContent{
    position: absolute;
    top: 10%;
    display: flex;
    padding: 10px 20px;
}



.featureCard img{
    width: 20%;
    height: auto;
}

.featureCard{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.featureCard h5{
    font-weight: 400;
}

.cardDes p{
    font-size: .6rem;
}


.companyLogo{
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 100%;
    justify-content: center;

}


.companyLogo img{
    width: 5%;
    height: auto;
}

